<a href=#bookmark>**Once data is already scraped, click here to jump down to the right place.**</a>

Go to <a href=#bookmark2>my bookmark</a>

In [40]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

import os
import pprint
import googlemaps
from collections import defaultdict
import time
import pickle

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
import requests

chromedriver = f"/Users/brenner/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

%load_ext dotenv
%dotenv

%load_ext autoreload
%autoreload 2

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [316]:

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
import requests

chromedriver = f"/Users/brenner/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

In [2]:
# Use fivethirtyeight styling, because I like it
import matplotlib.style as style
style.use('fivethirtyeight')

# Import private API key

MAPS_KEY = os.environ.get('MAPS_KEY')

# Change format of charts to .svg
%config InlineBackend.figure_format = 'svg'

In [4]:
%xmode

Exception reporting mode: Plain

In [5]:
# This dataset contains house sale prices for King County, which includes Seattle. It includes homes sold between May 2014 and May 2015.
# Read the data into pandas dataframe
df = pd.read_csv('kc_house_data.csv')

In [6]:
# Let's take a look at the data
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

In [7]:
# Recast price column as integer, for simplicity
df['price'] = df.price.astype(int)

In [26]:
coords = list(zip(df['lat'].astype(float), df['long'].astype(float)))

In [30]:
len(coords)

21613

In [31]:
formatted_addresses = []
json_addresses = []
neighborhoods_list = []
address_dictionary = defaultdict(str)

def get_addresses(coords_list):
    count = 0
    for coord_tuple in coords_list:
        count +=1
#         if count >= 1000:
#             time.sleep(120)
#             count = 0
        
        try:
            # Instantiate a Google Maps API session
            address = gmaps.reverse_geocode(coord_tuple)
            
            # Parse the JSON results
            formatted_address = address[1]['formatted_address']
            
            # Store both a list of formatted addresses and a list of all data for safekeeping
            formatted_addresses.append(formatted_address)
            json_addresses.append(address)
            
            # Store a list of neighborhoods
            neighborhood = address[0]['address_components'][2]['short_name']
            neighborhoods_list.append(neighborhood)
            
            # Store a dictionary of lat/long and formatted addresses, in case we need to map to dataframe later
            address_dictionary[coord_tuple] = formatted_address
            
            print('Success')

        except:
            print('Could not get address.')
            formatted_addresses.append(None)

In [33]:
get_addresses(coords)

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [34]:
len(formatted_addresses)

21613

In [39]:
# # Pickling original list so not to lose my work
# with open('address_list_final.pkl', 'wb') as f:
#     pickle.dump(list_of_addresses, f)

# with open('formatted_addresses.pkl', 'wb') as f:
#     pickle.dump(formatted_addresses, f)

# # Pickling like crazy because I don't want to lose my data.
# # Yes, I know pickling isn't always the best. Works for now.
# with open('json_addresses.pkl', 'wb') as f:
#     pickle.dump(json_addresses, f)

# with open('neighborhoods.pkl', 'wb') as f:
#     pickle.dump(neighborhoods_list, f)

# with open('address_dictionary.pkl', 'wb') as f:
#     pickle.dump(address_dictionary, f)

In [64]:
# Backing up a whole bunch more
neighborhood_df.to_csv('neighborhood_csv.csv', index=False, header=False)
nh = pd.read_csv('neighborhood_csv.csv')
formatted_addresses_df = pd.DataFrame(formatted_addresses, columns=['Formatted Addresses'])
formatted_addresses_df.to_csv('formatted_addresses_csv.csv', index=False)

In [71]:
# Add formatted addresses from Google Maps API to our dataframe (!)
df['Address'] = formatted_addresses

In [ ]:
# Adding neighborhood to dataframe
df['Neighborhood'] = neighborhoods_list

**Start here once data is already scraped** <a name='bookmark' />

In [8]:
# Now that the data is already scraped, we can pick up from here and add 'Address' column to main dataframe
addresses_df = pd.read_csv('formatted_addresses_csv.csv')
df['Address'] = addresses_df['Formatted Addresses']

In [20]:
neighborhood_df = pd.read_csv('neighborhood_csv.csv', header=None)
df['Neighborhood'] = neighborhood_df

Code in cell below is for imputing zip code from Google addresses, but we already have that data in another column. May return to this later.

In [95]:
# # Grab a list of all the zip codes from the formatted addresses list
# # I love list comprehensions!
# zip_list = [x.split(',')[-2][-5:] for x in formatted_addresses]

# df['Imputed Zip Code'] = zip_list

# def get_zips(x):
#     if x == ' WA' or x == 'ngton':
#         return 0
#     else:
#         return x

# df['Imputed Zip Code'] = df['Imputed Zip Code'].apply(get_zips)

# df['Imputed Zip Code'] = df['Imputed Zip Code'].astype(int)

In [47]:
# 205 Unique Neighborhoods. Should be sufficient for Walk Score/Transit Score/Bike Score etc. for our purposes.
df['Neighborhood'].nunique()

205

In [48]:
# Initialize a numpy array with unique neighborhoods, that we will later use to scrape data from the web
unique_neighborhoods = np.array(df['Neighborhood'].value_counts().index)

In [54]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'Address',
       'Neighborhood'],
      dtype='object')

In [165]:
adds = df['Address']

In [60]:
adds = adds.apply(lambda x: x.split(','))

In [68]:
adds = pd.DataFrame(adds)

In [160]:
adds

                                                 Address
0          [6101 S Cooper St,  Seattle,  WA 98118,  USA]
1           [860 NE 127th St,  Seattle,  WA 98125,  USA]
2         [15098 81st Ave NE,  Kenmore,  WA 98028,  USA]
3      [9247 Fauntleroy Way SW,  Seattle,  WA 98136, ...
4         [757 222nd Pl NE,  Sammamish,  WA 98074,  USA]
5      [25005 NE Patterson Way,  Redmond,  WA 98053, ...
6        [505 S 325th St,  Federal Way,  WA 98003,  USA]
7       [21413 15th Ave S,  Des Moines,  WA 98198,  USA]
8           [209 SW 102nd St,  Seattle,  WA 98146,  USA]
9      [26019 232nd Pl SE,  Maple Valley,  WA 98038, ...
10        [1008 145th Pl SE,  Bellevue,  WA 98007,  USA]
11          [3435 NE 85th St,  Seattle,  WA 98115,  USA]
12         [17617 83rd Pl NE,  Kenmore,  WA 98028,  USA]
13       [305 221st Ave NE,  Sammamish,  WA 98074,  USA]
14          [2814 NW 56th St,  Seattle,  WA 98107,  USA]
15         [3608 33rd Ave SW,  Seattle,  WA 98126,  USA]
16         [14028 282nd Ln NE,  Duvall,  WA 98019,  USA]
17           [1211 N 50th St,  Seattle,  WA 98103,  USA]
18             [25 Pike St NE,  Auburn,  WA 98002,  USA]
19      [2202 S 300th St,  Federal Way,  WA 98003,  USA]
20     [10037 Interlake Ave N,  Seattle,  WA 98133,  ...
21     [8134 SE 83rd St,  Mercer Island,  WA 98040,  ...
22         [12813 SE 307th Pl,  Auburn,  WA 98092,  USA]
23           [13107 SE 277th Pl,  Kent,  WA 98030,  USA]
24           [12724 SE 254th Ct,  Kent,  WA 98030,  USA]
25               [227 I St SE,  Auburn,  WA 98002,  USA]
26           [2215 2nd Ave W,  Seattle,  WA 98119,  USA]
27       [1414 E Harrison St,  Seattle,  WA 98112,  USA]
28         [9109 23rd Ave NE,  Seattle,  WA 98115,  USA]
29       [17260 NE 119th Way,  Redmond,  WA 98052,  USA]
...                                                  ...
21583   [2348 Fairview Ave E,  Seattle,  WA 98102,  USA]
21584      [4542 41st Ave SW,  Seattle,  WA 98116,  USA]
21585       [21608 SE 299th Way,  Kent,  WA 98042,  USA]
21586       [1751 NW 58th St,  Seattle,  WA 98107,  USA]
21587    [1725 NE 145th St,  Shoreline,  WA 98155,  USA]
21588  [5238,  1427 NW 65th St,  Seattle,  WA 98117, ...
21589  [28458 239th Pl SE,  Maple Valley,  WA 98038, ...
21590    [4502 205th Pl NE,  Sammamish,  WA 98074,  USA]
21591      [11451 80th Ave S,  Seattle,  WA 98178,  USA]
21592    [3902 Whitman Ave N,  Seattle,  WA 98103,  USA]
21593     [7515 SE 76th St,  Newcastle,  WA 98056,  USA]
21594   [25305 176th Pl SE,  Covington,  WA 98042,  USA]
21595    [3809 Whitman Ave N,  Seattle,  WA 98103,  USA]
21596         [6558 NE 1st St,  Renton,  WA 98059,  USA]
21597  [8704 SE 45th St,  Mercer Island,  WA 98040,  ...
21598        [5637 S 344th Ct,  Auburn,  WA 98001,  USA]
21599      [21837 NE 97th Pl,  Redmond,  WA 98053,  USA]
21600     [10524 NE 24th St,  Bellevue,  WA 98004,  USA]
21601  [9221B,  Roosevelt Way NE,  Seattle,  WA 98115...
21602  [25510 Lawson St,  Black Diamond,  WA 98010,  ...
21603  [6930 Elderberry Ave SE,  Snoqualmie,  WA 9806...
21604       [3656 36th Ave S,  Seattle,  WA 98144,  USA]
21605        [3943 NE 24th Ct,  Renton,  WA 98056,  USA]
21606      [5426 Beach Dr SW,  Seattle,  WA 98136,  USA]
21607      [3012 60th Ave SW,  Seattle,  WA 98116,  USA]
21608         [929 N 97th St,  Seattle,  WA 98103,  USA]
21609      [2245 SW 104th St,  Seattle,  WA 98146,  USA]
21610        [902 26th Ave S,  Seattle,  WA 98144,  USA]
21611  [2157 NW Boulder Way Dr,  Issaquah,  WA 98027,...
21612        [916 26th Ave S,  Seattle,  WA 98144,  USA]

[21613 rows x 1 columns]

In [163]:
# Parsing from the address column to get individual street numbers, cities, etc. to feed into Census
street_add = adds['Address'].apply(lambda x: x[0])

city = adds['Address'].apply(lambda x: x[1])

state = 'WA'

zip = adds['Address'].apply(lambda x: x[2][4:])

In [142]:
# Add a state column that doesn't have any wrong values
state = adds['Address'].apply(lambda x: x[2][1:3])

state = pd.DataFrame(state)

state['Address'] = 'WA'

state['Address'].value_counts()

WA    21613
Name: Address, dtype: int64

In [145]:
output = pd.concat([street_add, city, state, zip], axis=1, names=None)

In [289]:
output1 = output.iloc[8000:16000,:]

In [291]:
output1.head()

                 Address            Address Address Address
8000   10261 39th Ave SW            Seattle      WA   98146
8001   17526 47th Ave NE   Lake Forest Park      WA   98155
8002   16116 NE 107th Ct            Redmond      WA   98052
8003   7024 126th Ave NE           Kirkland      WA   98033
8004  17242 164th Way SE             Renton      WA   98058

In [212]:
output1.to_csv('24000.csv')

In [172]:
new = pd.read_csv('output.csv')

In [362]:
census.head(3)

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E
55,0,"6101 S Cooper St, Seattle, WA, 98118",Match,Non_Exact,"6101 S COOPER ST, SEATTLE, WA, 98118","-122.25696,47.51166",239766052.0,R,53.0,33.0,11900.0,NaN
53,1,"860 NE 127th St, Seattle, WA, 98125",Match,Non_Exact,"860 NE 127TH ST, SEATTLE, WA, 98125","-122.31958,47.721283",186716651.0,L,53.0,33.0,200.0,NaN
51,2,"15098 81st Ave NE, Kenmore, WA, 98028",Match,Exact,"15098 81ST AVE NE, KENMORE, WA, 98028","-122.23289,47.73783",239770253.0,R,53.0,33.0,22102.0,NaN

In [363]:
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,long,sqft_living15,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,-122.257,1340,5650,"6101 S Cooper St, Seattle, WA 98118, USA",Rainier Beach,NaN,NaN,NaN,NaN,NaN
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,-122.319,1690,7639,"860 NE 127th St, Seattle, WA 98125, USA",North Seattle,NaN,NaN,NaN,NaN,NaN
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,-122.233,2720,8062,"15098 81st Ave NE, Kenmore, WA 98028, USA",Kenmore,NaN,NaN,NaN,NaN,NaN

In [364]:
df.tail(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,long,sqft_living15,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,-122.299,1020,2007,"902 26th Ave S, Seattle, WA 98144, USA",Atlantic,NaN,NaN,NaN,NaN,NaN
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,-122.069,1410,1287,"2157 NW Boulder Way Dr, Issaquah, WA 98027, USA",Talus,NaN,NaN,NaN,NaN,NaN
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,-122.299,1020,1357,"916 26th Ave S, Seattle, WA 98144, USA",Atlantic,NaN,NaN,NaN,NaN,NaN

In [365]:
census.tail(3)

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E
3839,21610,"902 26th Ave S, Seattle, WA, 98144",Match,Exact,"902 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594433",186593301.0,L,53.0,33.0,8900.0,NaN
3837,21611,"2157 NW Boulder Way Dr, Issaquah, WA, 98027",Match,Exact,"2157 NW BOULDER WAY DR, ISSAQUAH, WA, 98027","-122.06923,47.53435",187104382.0,L,53.0,33.0,25006.0,NaN
3845,21612,"916 26th Ave S, Seattle, WA, 98144",Match,Exact,"916 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594334",186593301.0,L,53.0,33.0,8900.0,NaN

In [192]:
new = new[:10]

In [187]:
df3 = pd.read_csv('census_geocode_data/GeocodeResults - 1.csv')

In [189]:
df3.head(10)

,,,,,,,,,Unnamed: 0,"Address, Address, Address, Address",No_Match
6873,"6719 Silent Creek Ave SE, Snoqualmie, WA, 98065",Match,Exact,"6719 SILENT CREEK AVE SE, SNOQUALMIE, WA, 98065","-121.8784,47.540737",639757526.0,R,53.0,33.0,32602.0,NaN
6874,"14718 NE 16th St, Bellevue, WA, 98007",Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6871,"26012 18th Ave S, Des Moines, WA, 98198",Match,Exact,"26012 18TH AVE S, DES MOINES, WA, 98198","-122.31009,47.36838",619973594.0,R,53.0,33.0,30003.0,NaN
6872,"9735 NE 138th Pl, Kirkland, WA, 98034",Match,Non_Exact,"9735 NE 138TH PL, KIRKLAND, WA, 98034","-122.21162,47.724415",239780830.0,L,53.0,33.0,22202.0,NaN
6870,"15210 Bridle Crest Trail, Redmond, WA, 98052",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,"2904 28th St SE, Auburn, WA, 98092",Match,Exact,"2904 28TH ST SE, AUBURN, WA, 98092","-122.190445,47.28541",186656868.0,R,53.0,33.0,31100.0,NaN
530,"21315 SE 269th St, Maple Valley, WA, 98038",Match,Non_Exact,"21315 SE 269TH ST, MAPLE VALLEY, WA, 98038","-122.05633,47.360542",239781411.0,R,53.0,33.0,32008.0,NaN
2951,"15436 SE 20th Pl, Bellevue, WA, 98007",Match,Non_Exact,"15436 SE 20TH PL, BELLEVUE, WA, 98007","-122.13292,47.592213",186614363.0,L,53.0,33.0,23401.0,NaN
6869,"27369 245th Ave SE, Maple Valley, WA, 98038",Match,Exact,"27369 245TH AVE SE, MAPLE VALLEY, WA, 98038","-122.01567,47.356506",186958433.0,R,53.0,33.0,31603.0,NaN
2950,"1819 N 145th St, Shoreline, WA, 98133",Match,Non_Exact,"1819 N 145TH ST, SHORELINE, WA, 98133","-122.33673,47.734127",186574963.0,R,53.0,33.0,300.0,NaN

In [222]:
census_1 = pd.read_csv('census_geocode_data/0 - 8000.csv', header=None)

In [225]:
census_2 = pd.read_csv('census_geocode_data/8-16000.csv', header=None)

In [258]:
census_3 = pd.read_csv('census_geocode_data/24000_csv.csv', header=None)

In [280]:
census = pd.concat([census_1, census_2, census_3], ignore_index=False)

In [295]:
names=['index_num', 'Street', 'Match', 'Precision', 'Full address', 'loc', 'loc2', 'A', 'B', 'C', 'D', 'E']

In [296]:
census.columns = names

In [261]:
len(census_1)

8000

In [265]:
census_3.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
0,16902,"14444 129th Ave NE, Kirkland, WA, 98034",Match,Non_Exact,"14444 129TH PL NE, KIRKLAND, WA, 98034","-122.16729,47.73239",186600250.0,R,53.0,33.0,21906.0,NaN
1,20439,"803 SW 4th Pl, Renton, WA, 98057",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [303]:
census.sort_values('index_num', inplace=True)

In [304]:
census.tail()

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E
3862,21608,"929 N 97th St, Seattle, WA, 98103",Match,Non_Exact,"929 N 97TH ST, SEATTLE, WA, 98103","-122.34681,47.699615",239761412.0,R,53.0,33.0,1300.0,NaN
3832,21609,"2245 SW 104th St, Seattle, WA, 98146",Match,Non_Exact,"2245 SW 104TH ST, SEATTLE, WA, 98146","-122.36205,47.51002",186623179.0,L,53.0,33.0,26600.0,NaN
3839,21610,"902 26th Ave S, Seattle, WA, 98144",Match,Exact,"902 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594433",186593301.0,L,53.0,33.0,8900.0,NaN
3837,21611,"2157 NW Boulder Way Dr, Issaquah, WA, 98027",Match,Exact,"2157 NW BOULDER WAY DR, ISSAQUAH, WA, 98027","-122.06923,47.53435",187104382.0,L,53.0,33.0,25006.0,NaN
3845,21612,"916 26th Ave S, Seattle, WA, 98144",Match,Exact,"916 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594334",186593301.0,L,53.0,33.0,8900.0,NaN

In [308]:
# for col in ['B', 'C', 'D']:
#     census[col] = census[col].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [305]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Address,Neighborhood
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,0,2009,0,98103,47.6993,-122.346,1530,1509,"929 N 97th St, Seattle, WA 98103, USA",Greenwood
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,0,2014,0,98146,47.5107,-122.362,1830,7200,"2245 SW 104th St, Seattle, WA 98146, USA",Highline
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,0,2009,0,98144,47.5944,-122.299,1020,2007,"902 26th Ave S, Seattle, WA 98144, USA",Atlantic
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,0,2004,0,98027,47.5345,-122.069,1410,1287,"2157 NW Boulder Way Dr, Issaquah, WA 98027, USA",Talus
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,0,2008,0,98144,47.5941,-122.299,1020,1357,"916 26th Ave S, Seattle, WA 98144, USA",Atlantic

In [53]:
df.iloc[0, df.columns.get_loc('walk_score')] = 4

In [54]:
df.head(2)

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score,GEOID,income
0,0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,...,5650,"6101 S Cooper St, Seattle, WA 98118, USA",Rainier Beach,4.0,NaN,NaN,NaN,NaN,53033011900,71524.0
1,1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,...,7639,"860 NE 127th St, Seattle, WA 98125, USA",North Seattle,NaN,NaN,NaN,NaN,NaN,53033000200,56208.0

In [314]:
df.to_csv('dataframe 10.05.18 4 PM')

16000.csv                    TEST.csv
24000.csv                    Walk Score Scraping.ipynb
8000.csv                     census_geocode_data
Housing Data.ipynb           dataframe 10.05.18 4 PM
Luther.jpg                   formatted_addresses_csv.csv
Project Luther - Proposal.md kc_house_data.csv
README.md                    neighborhood_csv.csv

In [23]:
# # Create dicts for Walk, Transit, & Bike Scores
# walk_scores = defaultdict(str)
# transit_scores = defaultdict(str)
# bike_scores = defaultdict(str)

# # Create dicts for Personal & Property Crime Scores
# personal_crime_scores = defaultdict(str)
# property_crime_scores = defaultdict(str)

In [56]:
address = '1436 19th Ave., Seattle WA'
url_address = address.lower().replace(",", "").replace('.', '').replace(" ", "-")
print(new)

1436-19th-ave-seattle-wa

In [95]:
# Must have started a Webdriver/Selenium session, e.g.:


def get_walk_scores(start, num_records_to_fetch):

    count = 0
    error_count = 0
    sleep_times = []
    
    for i in range(start, start + num_records_to_fetch + 1):
        address = df.iloc[i, df.columns.get_loc('Address')]
        print(f'Starting at index {i}.')
        
        if count==0:
            # Fetch the URL
            driver.get(f'https://www.walkscore.com/score/{new}')
            url_address = address.lower().replace(",", "").replace('.', '').replace(" ", "-")
            driver.get(f'https://www.walkscore.com/score/{url_address}')
        
        # Use search bar to get our next page
        
        try:
            input_element = driver.find_element_by_id('addrbar-street')
            input_element.click()
            input_element.send_keys(address)
            input_element.send_keys(Keys.ENTER)
            
        except:
            error_count += 1
            print('Search bar didn\'t work. Entering address manually.')
            url_address = address.lower().replace(",", "").replace('.', '').replace(" ", "-")
            driver.get(f'https://www.walkscore.com/score/{url_address}')
        
        # Sleep a bit
        sleep_time = abs(1 + (np.random.randn(1)))
        time.sleep(sleep_time)
        sleep_times.append(sleep_time)
        print(f'Sleeping for {sleep_time} seconds.')
        
        # Read the html
        html = driver.page_source
        soup=BeautifulSoup(html)

        # Getting Walk, Transit, and Bike Scores
        image_tags = soup.find_all('img')
        
        try:
            for score in image_tags:
                if "Score of" in str(score):
                    
                    z = score['src']
                    
                    #Figure out which score (Walk/Transit/Bike) this is
                    if 'walk/' in z:
                        walk_scores[address] = z[-6:-4]
                        df.iloc[i, df.columns.get_loc('walk_score')] = z[-6:-4]
                    if 'transit/' in z:
                        transit_scores[address] = z[-6:-4]
                        df.iloc[i, df.columns.get_loc('transit_score')] = z[-6:-4]
                    if 'bike/' in z:
                        bike_scores[address] = z[-6:-4]
                        df.iloc[i, df.columns.get_loc('bike_score')] = z[-6:-4]

        except:
            print('No Walk/Bike/Transit Score for {address}')

        # Getting Personal & Property Crime Grades
        results = soup.find_all("div", {"class" : "crime-grade"})
        parsed_grades = []
            
        try:
            for grade in results:
                parsed_grades.append(grade.text)

            personal_crime_scores[address] = parsed_grades[0][2]
            property_crime_scores[address] = parsed_grades[1][2]
            
            df.iloc[i, df.columns.get_loc('pers_crime_score')] = parsed_grades[0][2]
            df.iloc[i, df.columns.get_loc('prop_crime_score')] = parsed_grades[1][2]
            
        except:
            pass
        
        print(f'{count} pages scraped. On index {i}.')
        
        count +=1
        
        if count % 10 == 0:
            print(f'Average sleep time between scrapes: {np.mean(sleep_times)} seconds.')
        
        if count % 50 == 0:
            df.to_csv('backup_df_from_scraping.csv')
            time.sleep(30)
            continue
        
        # Move on to the next page

In [96]:
driver = webdriver.Chrome(chromedriver)
driver.get(f'https://www.walkscore.com/score/1430-18th-ave-seattle-wa-98122')
most_recent_record = df[df['walk_score'].isnull() == True].index[0]
get_walk_scores(most_recent_record, 300)

Starting at index 32.
Sleeping for [3.47220928] seconds.
0 pages scraped. On index 32.
Starting at index 33.
Sleeping for [5.47273409] seconds.
1 pages scraped. On index 33.
Starting at index 34.
Sleeping for [3.38885334] seconds.
2 pages scraped. On index 34.
Starting at index 35.
Sleeping for [1.71590787] seconds.
3 pages scraped. On index 35.
Starting at index 36.
Sleeping for [4.25247578] seconds.
4 pages scraped. On index 36.
Starting at index 37.
Sleeping for [3.14761406] seconds.
5 pages scraped. On index 37.
Starting at index 38.
Sleeping for [1.47049591] seconds.
6 pages scraped. On index 38.
Starting at index 39.
Sleeping for [5.2380819] seconds.
7 pages scraped. On index 39.
Starting at index 40.
Sleeping for [3.0173124] seconds.
8 pages scraped. On index 40.
Starting at index 41.
Sleeping for [2.76447227] seconds.
9 pages scraped. On index 41.
Starting at index 42.
Sleeping for [4.50198816] seconds.
10 pages scraped. On index 42.
Starting at index 43.
Sleeping for [4.47453069] seconds.
11 pages scraped. On index 43.
Starting at index 44.
Sleeping for [3.77854654] seconds.
12 pages scraped. On index 44.
Starting at index 45.
Sleeping for [3.2578813] seconds.
13 pages scraped. On index 45.
Starting at index 46.
Sleeping for [2.3609725] seconds.
14 pages scraped. On index 46.
Starting at index 47.
Sleeping for [3.92125733] seconds.
15 pages scraped. On index 47.
Starting at index 48.
Sleeping for [2.92455786] seconds.
16 pages scraped. On index 48.
Starting at index 49.
Sleeping for [2.77811827] seconds.
17 pages scraped. On index 49.
Starting at index 50.
Sleeping for [2.84566455] seconds.
18 pages scraped. On index 50.
Starting at index 51.
Sleeping for [3.21046876] seconds.
19 pages scraped. On index 51.
Starting at index 52.
Sleeping for [3.93637893] seconds.
20 pages scraped. On index 52.
Starting at index 53.
Sleeping for [4.6139861] seconds.
21 pages scraped. On index 53.
Starting at index 54.
Sleeping for [3.40809634] seconds.
22 pages scraped. On index 54.
Starting at index 55.
Sleeping for [2.74207796] seconds.
23 pages scraped. On index 55.
Starting at index 56.
Sleeping for [3.38433447] seconds.
24 pages scraped. On index 56.
Starting at index 57.
Sleeping for [1.88172933] seconds.
25 pages scraped. On index 57.
Starting at index 58.
Sleeping for [2.33633939] seconds.
26 pages scraped. On index 58.
Starting at index 59.
Sleeping for [3.56927108] seconds.
27 pages scraped. On index 59.
Starting at index 60.
Sleeping for [2.63620738] seconds.
28 pages scraped. On index 60.
Starting at index 61.
Sleeping for [4.17521518] seconds.
29 pages scraped. On index 61.
Starting at index 62.
Sleeping for [3.74381416] seconds.
30 pages scraped. On index 62.
Starting at index 63.
Sleeping for [2.77184578] seconds.
31 pages scraped. On index 63.
Starting at index 64.
Sleeping for [3.02095865] seconds.
32 pages scraped. On index 64.
Starting at index 65.
Sleeping for [0.6903602] seconds.
33 pages scraped. On index 65.
Starting at index 66.
Sleeping for [2.82346358] seconds.
34 pages scraped. On index 66.
Starting at index 67.
Sleeping for [4.30393126] seconds.
35 pages scraped. On index 67.
Starting at index 68.
Sleeping for [3.65570161] seconds.
36 pages scraped. On index 68.
Starting at index 69.
Sleeping for [2.7732402] seconds.
37 pages scraped. On index 69.
Starting at index 70.
Sleeping for [0.60731995] seconds.
38 pages scraped. On index 70.
Starting at index 71.
Search bar didn't work. Entering address manually.
Sleeping for [3.7663256] seconds.
39 pages scraped. On index 71.
Starting at index 72.
Sleeping for [4.0940851] seconds.
40 pages scraped. On index 72.
Starting at index 73.
Sleeping for [3.38614146] seconds.
41 pages scraped. On index 73.
Starting at index 74.
Sleeping for [3.46450828] seconds.
42 pages scraped. On index 74.
Starting at index 75.
Sleeping for [1.93936729] seconds.
43 pages scraped. On index 75.
Starting at index 76.
Sleeping for [1.82009091] seconds.
44 pages scraped. On index 76.
Starting at index 77.
Sleeping for [2.81222996] seconds.
45 pages scraped. On index 77.
Starting at index 78.
Sleeping for [1.78806916] seconds.
46 pages scraped. On index 78.
Starting at index 79.
Sleeping for [2.67577425] seconds.
47 pages scraped. On index 79.
Starting at index 80.
Sleeping for [3.09384646] seconds.
48 pages scraped. On index 80.
Starting at index 81.
Sleeping for [3.39063363] seconds.
49 pages scraped. On index 81.
Average sleep time between scrapes: 3.145989729894891 seconds.
Starting at index 82.
Sleeping for [4.51862739] seconds.
50 pages scraped. On index 82.
Starting at index 83.
Sleeping for [4.51916981] seconds.
51 pages scraped. On index 83.
Starting at index 84.
Sleeping for [3.51186952] seconds.
52 pages scraped. On index 84.
Starting at index 85.
Sleeping for [2.21568514] seconds.
53 pages scraped. On index 85.
Starting at index 86.
Sleeping for [3.60611977] seconds.
54 pages scraped. On index 86.
Starting at index 87.
Sleeping for [4.07758489] seconds.
55 pages scraped. On index 87.
Starting at index 88.
Sleeping for [1.30361885] seconds.
56 pages scraped. On index 88.
Starting at index 89.
Sleeping for [3.61786291] seconds.
57 pages scraped. On index 89.
Starting at index 90.
Sleeping for [2.51713652] seconds.
58 pages scraped. On index 90.
Starting at index 91.
Sleeping for [2.74643312] seconds.
59 pages scraped. On index 91.
Starting at index 92.
Sleeping for [4.07891986] seconds.
60 pages scraped. On index 92.
Starting at index 93.
Sleeping for [2.77255025] seconds.
61 pages scraped. On index 93.
Starting at index 94.
Sleeping for [2.01039854] seconds.
62 pages scraped. On index 94.
Starting at index 95.
Sleeping for [2.81806832] seconds.
63 pages scraped. On index 95.
Starting at index 96.
Sleeping for [1.83309334] seconds.
64 pages scraped. On index 96.
Starting at index 97.
Sleeping for [3.76522576] seconds.
65 pages scraped. On index 97.
Starting at index 98.
Sleeping for [0.84613108] seconds.
66 pages scraped. On index 98.
Starting at index 99.
Search bar didn't work. Entering address manually.
Sleeping for [2.70043421] seconds.
67 pages scraped. On index 99.
Starting at index 100.
Sleeping for [1.02779144] seconds.
68 pages scraped. On index 100.
Starting at index 101.
Sleeping for [3.572579] seconds.
69 pages scraped. On index 101.
Starting at index 102.
Sleeping for [1.54334359] seconds.
70 pages scraped. On index 102.
Starting at index 103.
Sleeping for [1.92600553] seconds.
71 pages scraped. On index 103.
Starting at index 104.
Sleeping for [3.9387902] seconds.
72 pages scraped. On index 104.
Starting at index 105.
Sleeping for [3.4684362] seconds.
73 pages scraped. On index 105.
Starting at index 106.
Sleeping for [3.39931345] seconds.
74 pages scraped. On index 106.
Starting at index 107.
Sleeping for [4.39273632] seconds.
75 pages scraped. On index 107.
Starting at index 108.
Sleeping for [4.78004343] seconds.
76 pages scraped. On index 108.
Starting at index 109.
Sleeping for [4.01838784] seconds.
77 pages scraped. On index 109.
Starting at index 110.
Sleeping for [2.43552843] seconds.
78 pages scraped. On index 110.
Starting at index 111.
Sleeping for [3.37412818] seconds.
79 pages scraped. On index 111.
Starting at index 112.
Sleeping for [3.22057409] seconds.
80 pages scraped. On index 112.
Starting at index 113.
Sleeping for [2.98300238] seconds.
81 pages scraped. On index 113.
Starting at index 114.
Sleeping for [2.41071598] seconds.
82 pages scraped. On index 114.
Starting at index 115.
Sleeping for [4.38997066] seconds.
83 pages scraped. On index 115.
Starting at index 116.
Sleeping for [1.66514714] seconds.
84 pages scraped. On index 116.
Starting at index 117.
Sleeping for [1.56281926] seconds.
85 pages scraped. On index 117.
Starting at index 118.
Sleeping for [4.15244951] seconds.
86 pages scraped. On index 118.
Starting at index 119.
Sleeping for [3.78377349] seconds.
87 pages scraped. On index 119.
Starting at index 120.
Sleeping for [2.18544932] seconds.
88 pages scraped. On index 120.
Starting at index 121.
Sleeping for [2.00825198] seconds.
89 pages scraped. On index 121.
Starting at index 122.
Sleeping for [2.52357792] seconds.
90 pages scraped. On index 122.
Starting at index 123.
Sleeping for [2.33876146] seconds.
91 pages scraped. On index 123.
Starting at index 124.
Sleeping for [4.52779499] seconds.
92 pages scraped. On index 124.
Starting at index 125.
Sleeping for [2.79593607] seconds.
93 pages scraped. On index 125.
Starting at index 126.
Sleeping for [2.27515636] seconds.
94 pages scraped. On index 126.
Starting at index 127.
Sleeping for [4.20530268] seconds.
95 pages scraped. On index 127.
Starting at index 128.
Sleeping for [5.51905225] seconds.
96 pages scraped. On index 128.
Starting at index 129.
Sleeping for [1.80293053] seconds.
97 pages scraped. On index 129.
Starting at index 130.
Sleeping for [2.65110448] seconds.
98 pages scraped. On index 130.
Starting at index 131.
Sleeping for [1.27085719] seconds.
99 pages scraped. On index 131.
Average sleep time between scrapes: 3.0690812710931135 seconds.
Starting at index 132.
Sleeping for [4.4339714] seconds.
100 pages scraped. On index 132.
Starting at index 133.
Sleeping for [3.07517064] seconds.
101 pages scraped. On index 133.
Starting at index 134.
Sleeping for [3.44465491] seconds.
102 pages scraped. On index 134.
Starting at index 135.
Sleeping for [4.01198617] seconds.
103 pages scraped. On index 135.
Starting at index 136.
Sleeping for [2.96226983] seconds.
104 pages scraped. On index 136.
Starting at index 137.
Sleeping for [3.23133348] seconds.
105 pages scraped. On index 137.
Starting at index 138.
Sleeping for [2.62800889] seconds.
106 pages scraped. On index 138.
Starting at index 139.
Sleeping for [3.19231389] seconds.
107 pages scraped. On index 139.
Starting at index 140.
Sleeping for [2.47517434] seconds.
108 pages scraped. On index 140.
Starting at index 141.
Sleeping for [3.33894828] seconds.
109 pages scraped. On index 141.
Starting at index 142.
Sleeping for [3.21236244] seconds.
110 pages scraped. On index 142.
Starting at index 143.
Sleeping for [3.76951124] seconds.
111 pages scraped. On index 143.
Starting at index 144.
Sleeping for [2.55037151] seconds.
112 pages scraped. On index 144.
Starting at index 145.
Sleeping for [3.34474565] seconds.
113 pages scraped. On index 145.
Starting at index 146.
Sleeping for [1.86334657] seconds.
114 pages scraped. On index 146.
Starting at index 147.
Sleeping for [4.56531266] seconds.
115 pages scraped. On index 147.
Starting at index 148.
Sleeping for [3.14097543] seconds.
116 pages scraped. On index 148.
Starting at index 149.
Sleeping for [2.95218318] seconds.
117 pages scraped. On index 149.
Starting at index 150.
Sleeping for [3.02482665] seconds.
118 pages scraped. On index 150.
Starting at index 151.
Sleeping for [2.77914764] seconds.
119 pages scraped. On index 151.
Starting at index 152.
Sleeping for [2.68579545] seconds.
120 pages scraped. On index 152.
Starting at index 153.
Sleeping for [3.89410359] seconds.
121 pages scraped. On index 153.
Starting at index 154.
Sleeping for [2.63880146] seconds.
122 pages scraped. On index 154.
Starting at index 155.
Sleeping for [1.9624266] seconds.
123 pages scraped. On index 155.
Starting at index 156.
Sleeping for [2.09381936] seconds.
124 pages scraped. On index 156.
Starting at index 157.
Sleeping for [3.67555857] seconds.
125 pages scraped. On index 157.
Starting at index 158.
Sleeping for [2.27494908] seconds.
126 pages scraped. On index 158.
Starting at index 159.
Sleeping for [4.32988859] seconds.
127 pages scraped. On index 159.
Starting at index 160.
Sleeping for [3.0369402] seconds.
128 pages scraped. On index 160.
Starting at index 161.
Sleeping for [2.84688758] seconds.
129 pages scraped. On index 161.
Starting at index 162.
Sleeping for [3.10224767] seconds.
130 pages scraped. On index 162.
Starting at index 163.
Sleeping for [2.98445545] seconds.
131 pages scraped. On index 163.
Starting at index 164.
Sleeping for [3.23345063] seconds.
132 pages scraped. On index 164.
Starting at index 165.
Sleeping for [3.54526889] seconds.
133 pages scraped. On index 165.
Starting at index 166.
Sleeping for [3.25800167] seconds.
134 pages scraped. On index 166.
Starting at index 167.
Sleeping for [2.85946548] seconds.
135 pages scraped. On index 167.
Starting at index 168.
Sleeping for [3.36406499] seconds.
136 pages scraped. On index 168.
Starting at index 169.
Sleeping for [3.87841691] seconds.
137 pages scraped. On index 169.
Starting at index 170.
Sleeping for [3.18153931] seconds.
138 pages scraped. On index 170.
Starting at index 171.
Sleeping for [4.10758808] seconds.
139 pages scraped. On index 171.
Starting at index 172.
Sleeping for [2.55095] seconds.
140 pages scraped. On index 172.
Starting at index 173.
Sleeping for [3.66953645] seconds.
141 pages scraped. On index 173.
Starting at index 174.
Sleeping for [3.71261369] seconds.
142 pages scraped. On index 174.
Starting at index 175.
Sleeping for [5.07183922] seconds.
143 pages scraped. On index 175.
Starting at index 176.
Sleeping for [1.43928851] seconds.
144 pages scraped. On index 176.
Starting at index 177.
Sleeping for [3.21038181] seconds.
145 pages scraped. On index 177.
Starting at index 178.
Sleeping for [2.04590418] seconds.
146 pages scraped. On index 178.
Starting at index 179.
Sleeping for [2.40725526] seconds.
147 pages scraped. On index 179.
Starting at index 180.
Sleeping for [2.88367247] seconds.
148 pages scraped. On index 180.
Starting at index 181.
Sleeping for [2.73559026] seconds.
149 pages scraped. On index 181.
Average sleep time between scrapes: 3.090569622379869 seconds.
Starting at index 182.
Sleeping for [2.82458821] seconds.
150 pages scraped. On index 182.
Starting at index 183.
Sleeping for [3.16900776] seconds.
151 pages scraped. On index 183.
Starting at index 184.
Sleeping for [2.82710621] seconds.
152 pages scraped. On index 184.
Starting at index 185.
Sleeping for [1.78092953] seconds.
153 pages scraped. On index 185.
Starting at index 186.
Sleeping for [0.67629803] seconds.
154 pages scraped. On index 186.
Starting at index 187.
Search bar didn't work. Entering address manually.
Sleeping for [3.75890038] seconds.
155 pages scraped. On index 187.
Starting at index 188.
Sleeping for [2.9417653] seconds.
156 pages scraped. On index 188.
Starting at index 189.
Sleeping for [0.79419452] seconds.
157 pages scraped. On index 189.
Starting at index 190.
Sleeping for [3.19253948] seconds.
158 pages scraped. On index 190.
Starting at index 191.
Sleeping for [2.06783664] seconds.
159 pages scraped. On index 191.
Starting at index 192.
Sleeping for [2.11876031] seconds.
160 pages scraped. On index 192.
Starting at index 193.
Sleeping for [2.71726885] seconds.
161 pages scraped. On index 193.
Starting at index 194.
Sleeping for [1.91761047] seconds.
162 pages scraped. On index 194.
Starting at index 195.
Sleeping for [0.3988076] seconds.
163 pages scraped. On index 195.
Starting at index 196.
Search bar didn't work. Entering address manually.
Sleeping for [3.09634819] seconds.
164 pages scraped. On index 196.
Starting at index 197.
Sleeping for [2.43652669] seconds.
165 pages scraped. On index 197.
Starting at index 198.
Sleeping for [2.67498176] seconds.
166 pages scraped. On index 198.
Starting at index 199.
Sleeping for [3.86883357] seconds.
167 pages scraped. On index 199.
Starting at index 200.
Sleeping for [3.83731411] seconds.
168 pages scraped. On index 200.
Starting at index 201.
Sleeping for [3.43836586] seconds.
169 pages scraped. On index 201.
Starting at index 202.
Sleeping for [3.56185887] seconds.
170 pages scraped. On index 202.
Starting at index 203.
Sleeping for [3.29406399] seconds.
171 pages scraped. On index 203.
Starting at index 204.
Sleeping for [2.8518783] seconds.
172 pages scraped. On index 204.
Starting at index 205.
Sleeping for [2.37221331] seconds.
173 pages scraped. On index 205.
Starting at index 206.
Sleeping for [1.95687531] seconds.
174 pages scraped. On index 206.
Starting at index 207.
Sleeping for [2.5271713] seconds.
175 pages scraped. On index 207.
Starting at index 208.
Sleeping for [3.3642542] seconds.
176 pages scraped. On index 208.
Starting at index 209.
Sleeping for [4.1913968] seconds.
177 pages scraped. On index 209.
Starting at index 210.
Sleeping for [1.38066353] seconds.
178 pages scraped. On index 210.
Starting at index 211.
Sleeping for [2.9575278] seconds.
179 pages scraped. On index 211.
Starting at index 212.
Sleeping for [1.48422962] seconds.
180 pages scraped. On index 212.
Starting at index 213.
Sleeping for [3.29989362] seconds.
181 pages scraped. On index 213.
Starting at index 214.
Sleeping for [3.43923872] seconds.
182 pages scraped. On index 214.
Starting at index 215.
Sleeping for [2.29078213] seconds.
183 pages scraped. On index 215.
Starting at index 216.
Sleeping for [3.72406824] seconds.
184 pages scraped. On index 216.
Starting at index 217.
Sleeping for [2.8368314] seconds.
185 pages scraped. On index 217.
Starting at index 218.
Sleeping for [4.81760609] seconds.
186 pages scraped. On index 218.
Starting at index 219.
Sleeping for [2.43919873] seconds.
187 pages scraped. On index 219.
Starting at index 220.
Sleeping for [3.11129399] seconds.
188 pages scraped. On index 220.
Starting at index 221.
Sleeping for [2.853383] seconds.
189 pages scraped. On index 221.
Starting at index 222.
Sleeping for [2.17061903] seconds.
190 pages scraped. On index 222.
Starting at index 223.
Sleeping for [2.61305314] seconds.
191 pages scraped. On index 223.
Starting at index 224.
Sleeping for [2.75811744] seconds.
192 pages scraped. On index 224.
Starting at index 225.
Sleeping for [2.1365782] seconds.
193 pages scraped. On index 225.
Starting at index 226.
Sleeping for [4.493883] seconds.
194 pages scraped. On index 226.
Starting at index 227.
Sleeping for [3.21245705] seconds.
195 pages scraped. On index 227.
Starting at index 228.
Sleeping for [1.90121617] seconds.
196 pages scraped. On index 228.
Starting at index 229.
Sleeping for [4.54043214] seconds.
197 pages scraped. On index 229.
Starting at index 230.
Sleeping for [2.77279777] seconds.
198 pages scraped. On index 230.
Starting at index 231.
Sleeping for [2.96430388] seconds.
199 pages scraped. On index 231.
Average sleep time between scrapes: 3.012206567858568 seconds.
Starting at index 232.
Sleeping for [4.09660276] seconds.
200 pages scraped. On index 232.
Starting at index 233.
Sleeping for [3.08892757] seconds.
201 pages scraped. On index 233.
Starting at index 234.
Sleeping for [4.27765952] seconds.
202 pages scraped. On index 234.
Starting at index 235.
Sleeping for [3.25893332] seconds.
203 pages scraped. On index 235.
Starting at index 236.
Sleeping for [3.97874912] seconds.
204 pages scraped. On index 236.
Starting at index 237.
Sleeping for [3.19542747] seconds.
205 pages scraped. On index 237.
Starting at index 238.
Sleeping for [2.63912732] seconds.
206 pages scraped. On index 238.
Starting at index 239.
Sleeping for [1.18698387] seconds.
207 pages scraped. On index 239.
Starting at index 240.
Sleeping for [3.77165831] seconds.
208 pages scraped. On index 240.
Starting at index 241.
Sleeping for [3.21515142] seconds.
209 pages scraped. On index 241.
Starting at index 242.
Sleeping for [3.03301466] seconds.
210 pages scraped. On index 242.
Starting at index 243.
Sleeping for [2.63198393] seconds.
211 pages scraped. On index 243.
Starting at index 244.
Sleeping for [4.79034199] seconds.
212 pages scraped. On index 244.
Starting at index 245.
Sleeping for [2.17466646] seconds.
213 pages scraped. On index 245.
Starting at index 246.
Sleeping for [1.87069651] seconds.
214 pages scraped. On index 246.
Starting at index 247.
Sleeping for [1.82589739] seconds.
215 pages scraped. On index 247.
Starting at index 248.
Sleeping for [1.69198113] seconds.
216 pages scraped. On index 248.
Starting at index 249.
Sleeping for [1.64823102] seconds.

In [97]:
df[200:250]

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score,GEOID,income
200,200,3542300060,20150311T000000,210000,3,1.00,860,11725,1.0,0,...,9514,"204 Glennwood Ave NE, Renton, WA 98056, USA",Renton,27,NaN,33,NaN,NaN,53033025601,60833.0
201,201,2222059065,20141112T000000,297000,3,2.50,1940,14952,2.0,0,...,10450,"24933 132nd Pl SE, Kent, WA 98042, USA",Kent,33,NaN,26,NaN,NaN,53033031703,84408.0
202,202,7551300060,20140716T000000,470000,3,1.00,1010,5000,1.0,0,...,5000,"2839 NW 64th St, Seattle, WA 98107, USA",Old Ballard,72,77,47,A,B,53033003200,79681.0
203,203,100600550,20140804T000000,226500,3,1.50,1300,7370,1.0,0,...,7500,"33400 28th Pl SW, Federal Way, WA 98023, USA",Federal Way,50,NaN,35,NaN,NaN,53033030311,71659.0
204,204,3211100860,20150303T000000,274250,3,1.00,910,8450,1.0,0,...,8040,"4512 SE 4th Pl, Renton, WA 98059, USA",Renton,26,NaN,26,NaN,NaN,53033000000,NaN
205,205,3456000310,20140804T000000,840000,4,1.75,2480,11010,1.0,0,...,10744,"8866 SE 72nd Pl, Mercer Island, WA 98040, USA",Mercer Island,31,NaN,23,NaN,NaN,53033024602,195156.0
206,206,9526600140,20140919T000000,677900,3,2.50,2440,4587,2.0,0,...,4587,"16925 NE 120th St, Redmond, WA 98052, USA",North Redmond,/3,NaN,26,NaN,NaN,53033032321,199542.0
207,207,7465900060,20150205T000000,425000,3,1.00,1010,5864,1.0,0,...,5000,"3275 38th Ave SW, Seattle, WA 98126, USA",North Admiral,65,57,50,A,A,53033009800,71705.0
208,208,1222000055,20141123T000000,180250,2,0.75,900,9600,1.0,0,...,14280,"4th Ave SW & SW 160th St, Burien, WA 98166, USA",Burien,83,NaN,49,NaN,NaN,53033000000,NaN
209,209,6300000550,20140717T000000,464000,6,3.00,2300,3404,2.0,0,...,1312,"10549 Stone Ave N, Seattle, WA 98133, USA",Haller Lake,81,66,59,D,C,53033001300,56744.0
210,210,2310030510,20150422T000000,320000,4,2.25,1550,7579,2.0,0,...,6397,"27612 221st Ave SE, Maple Valley, WA 98038, USA",Maple Valley,/1,NaN,25,NaN,NaN,53033031604,102202.0
211,211,1025049114,20140717T000000,625504,3,2.25,1270,1566,2.0,0,...,1327,"4001 NE 50th St, Seattle, WA 98105, USA",Bryant,86,88,55,A,A,53033000000,NaN
212,212,8677300550,20140515T000000,592500,4,2.50,2240,12032,1.0,0,...,12368,"427 242nd Pl NE, Sammamish, WA 98074, USA",Sammamish,12,NaN,22,NaN,NaN,53033032214,156481.0
213,213,4014400292,20150114T000000,465000,3,2.50,2714,17936,2.0,0,...,18386,"31705 47th Court South, Auburn, WA 98001, USA",Auburn,/8,NaN,25,NaN,NaN,53033029901,68609.0
214,214,1102000196,20140527T000000,477000,4,2.75,1720,6270,2.0,0,...,8700,"5149 S Graham St, Seattle, WA 98118, USA",Seward Park,56,35,51,B,B,53033011102,61901.0
215,215,257000138,20150115T000000,280000,2,1.00,850,16400,1.0,0,...,14459,"S 128th St & 26th Ave S, SeaTac, WA 98168, USA",Highline,41,NaN,41,NaN,NaN,53033000000,NaN
216,216,46100204,20150221T000000,1505000,5,3.00,3300,33474,1.0,0,...,20953,"4384 E Mercer Way, Mercer Island, WA 98040, USA",Mercer Island,/7,NaN,18,NaN,NaN,53033000000,NaN
217,217,1909600046,20140703T000000,445838,3,2.50,2250,5692,2.0,0,...,5390,"3555 South West 100th Street, Seattle, WA 9814...",Arbor Heights,53,41,48,B,B,53033000000,NaN
218,218,1250202145,20140828T000000,1072000,2,2.25,3900,14864,1.0,0,...,5184,"1532 32nd Ave S, Seattle, WA 98144, USA",Mt. Baker,50,61,59,B,C,53033009500,81676.0
219,219,7611200125,20141023T000000,467000,2,1.50,1320,10800,1.0,0,...,12040,"11711 8th Ave NW, Seattle, WA 98177, USA",Broadview,22,21,43,NaN,NaN,53033000000,NaN
220,220,5611500140,20140822T000000,686000,4,2.50,2760,6440,2.0,0,...,8127,"2841 234th Ave SE, Sammamish, WA 98075, USA",Sammamish,27,NaN,NaN,NaN,NaN,53033032211,117250.0
221,221,7138000260,20140605T000000,279950,3,2.00,1750,9750,1.0,0,...,10125,"2770 S 227th Pl, Des Moines, WA 98198, USA",Des Moines,27,NaN,NaN,NaN,NaN,53033028902,41000.0
222,222,626059335,20140904T000000,527000,4,2.25,2330,19436,2.0,0,...,10055,"18828 93rd Ave NE, Bothell, WA 98011, USA",Bothell,53,NaN,38,NaN,NaN,53033021803,74856.0
223,223,1922059282,20140918T000000,325000,3,2.25,2220,16020,1.0,0,...,9583,"616 Maplewood Ave, Kent, WA 98030, USA",Scenic Hill,26,NaN,40,NaN,NaN,53033000000,NaN
224,224,705700390,20140903T000000,328000,3,2.25,2020,8379,2.0,0,...,8031,"23921 244th Ave SE, Maple Valley, WA 98038, USA",Maple Valley,/3,NaN,18,NaN,NaN,53033000000,NaN
225,225,7454001200,20140604T000000,390000,3,2.25,1250,7500,1.0,0,...,7392,"10105 32nd Ave SW, Seattle, WA 98146, USA",Arbor Heights,57,34,51,B,B,53033012000,83421.0
226,226,8682281200,20150309T000000,479950,2,2.00,1510,6516,1.0,0,...,6009,"12203 Big Leaf Way NE, Redmond, WA 98053, USA",Redmond,/9,NaN,13,NaN,NaN,53033032327,101563.0
227,227,7972000200,20140529T000000,264950,4,2.25,1720,9753,1.0,0,...,9753,"34469 30th Ave SW, Federal Way, WA 98023, USA",Federal Way,29,NaN,35,NaN,NaN,53033030312,54413.0
228,228,722059070,20150115T000000,235000,3,1.00,1430,15246,1.0,0,...,13068,"21612 95th Pl S, Kent, WA 98031, USA",Kent,10,NaN,26,NaN,NaN,53033029204,59591.0
229,229,7202340400,20150303T000000,516500,3,2.50,1480,4729,2.0,0,...,4729,"22905 NE 87th Pl, Redmond, WA 98053, USA",Redmond Ridge,15,NaN,15,NaN,NaN,53033032329,136616.0
230,230,8096000060,20150413T000000,655000,2,1.75,1450,15798,2.0,1,...,13193,"3316 SW 172nd St, Burien, WA 98166, USA",Burien,/4,NaN,/9,NaN,NaN,53033027800,89185.0
231,231,2424000060,20140616T000000,500000,4,2.75,2280,15347,1.0,0,...,15347,"8995 132nd Pl SE, Newcastle, WA 98059, USA",Newcastle,/7,NaN,NaN,NaN,NaN,53033025001,110114.0
232,232,9264902050,20141121T000000,315000,6,2.75,2940,7350,1.0,0,...,8236,"229 SW 325th Pl, Federal Way, WA 98023, USA",Federal Way,30,NaN,34,NaN,NaN,53033030309,61973.0
233,233,943100260,20141120T000000,213000,2,1.00,1000,10200,1.0,0,...,13702,"33023 SE 42nd Pl, Fall City, WA 98024, USA",Fall City,35,NaN,NaN,NaN,NaN,53033032601,84583.0
234,234,3677400445,20140902T000000,475000,3,1.50,2480,5280,1.5,0,...,4800,"4906 Beacon Ave S, Seattle, WA 98108, USA",Greater Duwamish,74,76,61,C,D,53033000000,NaN
235,235,1762600320,20140610T000000,1025000,5,4.00,3760,28040,2.0,0,...,35096,"4136 117th Ave NE, Kirkland, WA 98033, USA",Bridle Trails,/4,NaN,36,NaN,NaN,53033022703,101250.0
236,236,4058000060,20150409T000000,416000,3,2.00,2220,94300,1.0,0,...,80100,"29605 SE 286 St, Ravensdale, WA 98051, USA",Ravensdale,/0,NaN,NaN,NaN,NaN,53033031603,82067.0
237,237,7228500560,20150320T000000,410000,4,1.00,1970,4740,1.5,0,...,4740,"1421 23rd Ave, Seattle, WA 98122, USA",Central District,87,80,66,C,C,53033007900,57786.0
238,238,326069104,20140701T000000,800000,3,3.50,3830,221284,2.0,0,...,148539,"18717 236th Ave NE, Woodinville, WA 98077, USA",Woodinville,/1,NaN,NaN,NaN,NaN,53033032311,149087.0
239,239,5152100060,20140529T000000,472000,6,2.50,4410,14034,1.0,0,...,13988,"29505 9th Pl S, Federal Way, WA 98003, USA",Federal Way,23,NaN,34,NaN,NaN,53033030100,81458.0
240,240,3584000310,20141208T000000,225000,3,1.75,1430,8505,1.0,0,...,8640,"1044 S 317th St, Federal Way, WA 98003, USA",Federal Way,70,NaN,47,NaN,NaN,53033030202,50226.0
241,241,8150100045,20141001T000000,210000,2,1.00,830,6000,1.0,0,...,4960,"7946 35th Ave SW, Seattle, WA 98126, USA",Delridge,57,51,48,A,B,53033011500,75123.0
242,242,1868901275,20150127T000000,455000,2,1.00,1430,5000,1.5,0,...,3750,"6026 26th Ave NE, Seattle, WA 98115, USA",Northeast Seattle,74,68,57,B,A,53033004301,64797.0
243,243,6131600075,20150427T000000,225000,3,1.00,1300,8316,1.0,0,...,8316,"1057 16th St NE, Auburn, WA 98002, USA",Auburn,67,NaN,35,NaN,NaN,53033030504,50396.0
244,244,9468200125,20140826T000000,480000,2,1.00,1030,3060,1.0,0,...,3060,"6703 Dayton Ave N, Seattle, WA 98103, USA",Northwest Seattle,84,77,46,A,A,53033003500,81563.0
245,245,8029510030,20150212T000000,363000,3,2.50,2740,11872,2.0,0,...,10377,"4902 SW 329th Way, Federal Way, WA 98023, USA",Federal Way,23,NaN,27,NaN,NaN,53033030306,94677.0
246,246,2025069065,20140929T000000,2400000,4,2.50,3650,8354,1.0,1,...,18841,"2727 E Lake Sammamish Pkwy NE, Sammamish, WA 9...",Sammamish,/0,NaN,NaN,NaN,NaN,53033032316,164599.0
247,247,7899800890,20150226T000000,181000,2,1.50,720,5120,1.0,0,...,2566,"9049 17th Ave SW, Seattle, WA 98106, USA",Delridge,85,58,56,D,D,53033011402,47701.0
248,248,3021059276,20150314T000000,250000,4,2.00,2010,7312,1.0,0,...,7650,"M St SE & 33rd St SE, Auburn, WA 98002, USA",Auburn,21,NaN,30,NaN,NaN,53033000000,NaN
249,249,3797001895,20150422T000000,481000,3,1.75,1560,3000,1.0,0,...,3000,"7621 Aurora Ave N, Seattle, WA 98103, USA",Greenwood,21,NaN,30,NaN,NaN,53033002800,90568.0

In [90]:
df[25:60]

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score,GEOID,income
25,25,1202000200,20141103T000000,233000,3,2.00,1710,4697,1.5,0,...,4705,"227 I St SE, Auburn, WA 98002, USA",Auburn,75,NaN,38,NaN,NaN,53033000000,NaN
26,26,1794500383,20140626T000000,937000,3,1.75,2450,2691,2.0,0,...,3573,"2215 2nd Ave W, Seattle, WA 98119, USA",West Queen Anne,94,60,63,A,B,53033006800,98750.0
27,27,3303700376,20141201T000000,667000,3,1.00,1400,1581,1.5,0,...,3861,"1414 E Harrison St, Seattle, WA 98112, USA",Capitol Hill,95,69,77,C,C,53033007500,63419.0
28,28,5101402488,20140624T000000,438000,3,1.75,1520,6380,1.0,0,...,6235,"9109 23rd Ave NE, Seattle, WA 98115, USA",Northeast Seattle,71,59,51,A,B,53033002100,85759.0
29,29,1873100390,20150302T000000,719000,4,2.50,2570,7173,2.0,0,...,6026,"17260 NE 119th Way, Redmond, WA 98052, USA",North Redmond,/8,NaN,27,NaN,NaN,53033032321,199542.0
30,30,8562750320,20141110T000000,580500,3,2.50,2320,3980,2.0,0,...,3980,"2190 NW Coyote Creek Ln, Issaquah, WA 98027, USA",Talus,/9,NaN,41,NaN,NaN,53033025006,148750.0
31,31,2426039314,20141201T000000,280000,2,1.50,1190,1265,3.0,0,...,1756,"13437 Greenwood Ave N, Seattle, WA 98133, USA",Broadview,53,57,49,B,B,53033000401,32472.0
32,32,461000390,20140624T000000,687500,4,1.75,2330,5000,1.5,0,...,5000,"7318 9th Ave NW, Seattle, WA 98117, USA",Ballard,NaN,NaN,NaN,NaN,NaN,53033003000,90789.0
33,33,7589200193,20141110T000000,535000,3,1.00,1090,3000,1.5,0,...,5080,"1414 NW 83rd St, Seattle, WA 98117, USA",Ballard,NaN,NaN,NaN,NaN,NaN,53033003000,90789.0
34,34,7955080270,20141203T000000,322500,4,2.75,2060,6659,1.0,0,...,8720,"19416 138th Ave SE, Renton, WA 98058, USA",Renton,NaN,NaN,NaN,NaN,NaN,53033029307,94375.0
35,35,9547205180,20140613T000000,696000,3,2.50,2300,3060,1.5,0,...,3264,"1617 NE 75th St, Seattle, WA 98115, USA",Northeast Seattle,NaN,NaN,NaN,NaN,NaN,53033002600,91458.0
36,36,9435300030,20140528T000000,550000,4,1.00,1660,34848,1.0,0,...,11467,"15608 NE 62nd Ct, Redmond, WA 98052, USA",Overlake,NaN,NaN,NaN,NaN,NaN,53033022802,101184.0
37,37,2768000400,20141230T000000,640000,4,2.00,2360,6000,2.0,0,...,4700,"5601 4th Ave NW, Seattle, WA 98107, USA",Ballard,NaN,NaN,NaN,NaN,NaN,53033003400,97500.0
38,38,7895500070,20150213T000000,240000,4,1.00,1220,8075,1.0,0,...,7800,"29903 43rd Ave S, Auburn, WA 98001, USA",Auburn,NaN,NaN,NaN,NaN,NaN,53033029901,68609.0
39,39,2078500320,20140620T000000,605000,4,2.50,2620,7553,2.0,0,...,11884,"8113 120th Pl SE, Newcastle, WA 98056, USA",Newcastle,NaN,NaN,NaN,NaN,NaN,53033024702,106941.0
40,40,5547700270,20140715T000000,625000,4,2.50,2570,5520,2.0,0,...,5669,"544 235th Ave NE, Sammamish, WA 98074, USA",Sammamish,NaN,NaN,NaN,NaN,NaN,53033032214,156481.0
41,41,7766200013,20140811T000000,775000,4,2.25,4220,24186,1.0,0,...,30617,"801 Marine View Dr SW, Normandy Park, WA 98166...",Normandy Park,NaN,NaN,NaN,NaN,NaN,53033028600,88574.0
42,42,7203220400,20140707T000000,861990,5,2.75,3595,5639,2.0,0,...,5639,"24187 NE 98th Pl, Redmond, WA 98053, USA",Redmond Ridge East,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
43,43,9270200160,20141028T000000,685000,3,1.00,1570,2280,2.0,0,...,2640,"2458 5th Ave W, Seattle, WA 98119, USA",North Queen Anne,NaN,NaN,NaN,NaN,NaN,53033005900,87667.0
44,44,1432701230,20140729T000000,309000,3,1.00,1280,9656,1.0,0,...,8808,"17240 125th Ave SE, Renton, WA 98058, USA",Renton,NaN,NaN,NaN,NaN,NaN,53033025803,50750.0
45,45,8035350320,20140718T000000,488000,3,2.50,3160,13603,2.0,0,...,9232,"16018 270th Pl NE, Duvall, WA 98019, USA",Duvall,NaN,NaN,NaN,NaN,NaN,53033032401,92500.0
46,46,8945200830,20150325T000000,210490,3,1.00,990,8528,1.0,0,...,8840,"2905 29th Ave SW, Federal Way, WA 98023, USA",Federal Way,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
47,47,4178300310,20140716T000000,785000,4,2.50,2290,13416,2.0,0,...,13685,"1010 141st Pl NE, Bellevue, WA 98007, USA",Crossroads,NaN,NaN,NaN,NaN,NaN,53033023603,87236.0
48,48,9215400105,20150428T000000,450000,3,1.75,1250,5963,1.0,0,...,5100,"7002 24th Ave NE, Seattle, WA 98115, USA",Northeast Seattle,NaN,NaN,NaN,NaN,NaN,53033002500,101413.0
49,49,822039084,20150311T000000,1350000,3,2.50,2753,65005,1.0,1,...,72513,"22315 91st Pl SW, Vashon, WA 98070, USA",Vashon,NaN,NaN,NaN,NaN,NaN,53033027702,81757.0
50,50,5245600105,20140916T000000,228000,3,1.00,1190,9199,1.0,0,...,9364,"19626 10th Ave S, Des Moines, WA 98148, USA",Des Moines,NaN,NaN,NaN,NaN,NaN,53033028700,73841.0
51,51,7231300125,20150217T000000,345000,5,2.50,3150,9134,1.0,0,...,9133,"663 Blaine Ave NE, Renton, WA 98056, USA",Renton,NaN,NaN,NaN,NaN,NaN,53033025400,47773.0
52,52,7518505990,20141231T000000,600000,3,1.75,1410,4080,1.0,0,...,4080,"7042 22nd Ave NW, Seattle, WA 98117, USA",Ballard,NaN,NaN,NaN,NaN,NaN,53033003100,101397.0
53,53,3626039271,20150205T000000,585000,2,1.75,1980,8550,1.0,0,...,6738,"9530 9th Ave NW, Seattle, WA 98117, USA",Crown Hill,NaN,NaN,NaN,NaN,NaN,53033001400,72428.0
54,54,4217401195,20150303T000000,920000,5,2.25,2730,6000,1.5,0,...,6000,"3872 43rd Ave NE, Seattle, WA 98105, USA",Laurelhurst,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
55,55,9822700295,20140512T000000,885000,4,2.50,2830,5000,2.0,0,...,5000,"3507 NE 43rd St, Seattle, WA 98105, USA",Laurelhurst,NaN,NaN,NaN,NaN,NaN,53033004100,132917.0
56,56,9478500640,20140819T000000,292500,4,2.50,2250,4495,2.0,0,...,4500,"17100 SE 263rd St, Covington, WA 98042, USA",Covington,NaN,NaN,NaN,NaN,NaN,53033031706,74239.0
57,57,2799800710,20150407T000000,301000,3,2.50,2420,4750,2.0,0,...,4750,"16422 SE 263rd St, Covington, WA 98042, USA",Covington,NaN,NaN,NaN,NaN,NaN,53033031706,74239.0
58,58,7922800400,20140827T000000,951000,5,3.25,3250,14342,2.0,0,...,11044,"2607 SE 26th St, Bellevue, WA 98008, USA",West Lake Sammamish,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
59,59,8079040320,20150223T000000,430000,4,3.00,1850,9976,2.0,0,...,8542,"1508 Ilwaco Ave NE, Renton, WA 98059, USA",Renton,NaN,NaN,NaN,NaN,NaN,53033025101,81676.0

In [47]:
alt_df = pd.read_csv('backup_df_from_scraping.csv')

In [330]:
# # Created new columns to hold scores
# df['walk_score'] = np.nan
# df['bike_score'] = np.nan
# df['transit_score'] = np.nan
# df['pers_crime_score'] = np.nan
# df['prop_crime_score'] = np.nan

**Adding GEOID and income data to dataframe <a name='bookmark2' />**

In [393]:
# Fill NAs with float of 0.0 so we can run operations on the whole column to transform into full GEOID
census['D'].fillna(0.0, inplace=True)

In [398]:
# Add leading zeros to transform Census Tract ID into format we can use to find GEOID to match up with Census data
def add_zeros(x):
    x = str(int(x))
    x = x.zfill(6)
    return(x)

census['tract'] = census['D'].apply(add_zeros)

In [407]:
# Add the leading characters for GEOID to our tract number
# Note: '53' denotes Washington State, and '033' denotes King County.
census['GEOID'] = '53033' + census['tract']

In [411]:
# Add 'GEOID' column to our main dataframe
census.df['GEOID'] = census['GEOID'].values

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E,tract,GEOID
55,0,"6101 S Cooper St, Seattle, WA, 98118",Match,Non_Exact,"6101 S COOPER ST, SEATTLE, WA, 98118","-122.25696,47.51166",239766052.0,R,53.0,33.0,11900.0,NaN,011900,53033011900
53,1,"860 NE 127th St, Seattle, WA, 98125",Match,Non_Exact,"860 NE 127TH ST, SEATTLE, WA, 98125","-122.31958,47.721283",186716651.0,L,53.0,33.0,200.0,NaN,000200,53033000200
51,2,"15098 81st Ave NE, Kenmore, WA, 98028",Match,Exact,"15098 81ST AVE NE, KENMORE, WA, 98028","-122.23289,47.73783",239770253.0,R,53.0,33.0,22102.0,NaN,022102,53033022102
49,3,"9247 Fauntleroy Way SW, Seattle, WA, 98136",Match,Exact,"9247 FAUNTLEROY WAY SW, SEATTLE, WA, 98136","-122.3935,47.520912",186661942.0,R,53.0,33.0,11600.0,NaN,011600,53033011600
73,4,"757 222nd Pl NE, Sammamish, WA, 98074",Match,Exact,"757 222ND PL NE, SAMMAMISH, WA, 98074","-122.0446,47.61503",187001283.0,L,53.0,33.0,32317.0,NaN,032317,53033032317

In [590]:
median_income = pd.read_csv('median_income.csv')

In [592]:
income_dict = defaultdict(str)

In [438]:
# Remove the last entry because it contains a null value
median_income = median_income.iloc[:-1, :]

In [479]:
# Found another incorrect value. Finding the index so I can drop it.
median_income[median_income['HC02_EST_VC02'] == '(X)']

        GEO.id2 HC02_EST_VC02
54  53033005302           (X)

In [484]:
median_income.iloc[54]

GEO.id2          53033005302
HC02_EST_VC02            (X)
Name: 54, dtype: object

In [488]:
# Dropping incorrect row.
median_income = median_income.drop(54)

In [583]:
# Reset index in order to make zipping into dicts possible without errors
median_income = median_income.reset_index(inplace=True)

In [556]:
# Recasting income variable as an int to make things easier down the road
median_income['HC02_EST_VC02'] = median_income['HC02_EST_VC02'].astype('str', inplace=True)

In [582]:
# Backing up work
df.to_csv('backup saturday.csv')
census.to_csv('census backup saturday.csv')
median_income.to_csv('median_income backup.csv')

In [7]:
df = pd.read_csv('backup saturday.csv')

census = pd.read_csv('census backup saturday.csv')

median_income = pd.read_csv('median_income backup.csv')

In [14]:
median_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 4 columns):
Unnamed: 0       396 non-null int64
index            396 non-null int64
GEO.id2          396 non-null int64
HC02_EST_VC02    396 non-null int64
dtypes: int64(4)
memory usage: 12.5 KB

In [9]:
median_income['GEO.id2']

0      53033000100
1      53033000200
2      53033000300
3      53033000401
4      53033000402
5      53033000500
6      53033000600
7      53033000700
8      53033000800
9      53033000900
10     53033001000
11     53033001100
12     53033001200
13     53033001300
14     53033001400
15     53033001500
16     53033001600
17     53033001701
18     53033001702
19     53033001800
20     53033001900
21     53033002000
22     53033002100
23     53033002200
24     53033002400
25     53033002500
26     53033002600
27     53033002700
28     53033002800
29     53033002900
          ...
366    53033032214
367    53033032215
368    53033032307
369    53033032309
370    53033032311
371    53033032313
372    53033032315
373    53033032316
374    53033032317
375    53033032318
376    53033032319
377    53033032320
378    53033032321
379    53033032322
380    53033032323
381    53033032324
382    53033032325
383    53033032326
384    53033032327
385    53033032328
386    53033032329
387    53033032401
388    53033032402
389    53033032500
390    53033032601
391    53033032602
392    53033032702
393    53033032703
394    53033032704
395    53033032800
Name: GEO.id2, Length: 396, dtype: int64

In [15]:
income_tracts = dict(zip(median_income['GEO.id2'], median_income['HC02_EST_VC02']))

In [16]:
income_tracts

{53033000100: 44951,
 53033000200: 56208,
 53033000300: 64297,
 53033000401: 32472,
 53033000402: 62726,
 53033000500: 125400,
 53033000600: 60131,
 53033000700: 51741,
 53033000800: 87222,
 53033000900: 125109,
 53033001000: 69643,
 53033001100: 64549,
 53033001200: 31863,
 53033001300: 56744,
 53033001400: 72428,
 53033001500: 95927,
 53033001600: 96193,
 53033001701: 65188,
 53033001702: 62786,
 53033001800: 87159,
 53033001900: 61391,
 53033002000: 80400,
 53033002100: 85759,
 53033002200: 132981,
 53033002400: 103917,
 53033002500: 101413,
 53033002600: 91458,
 53033002700: 111661,
 53033002800: 90568,
 53033002900: 103750,
 53033003000: 90789,
 53033003100: 101397,
 53033003200: 79681,
 53033003300: 85595,
 53033003400: 97500,
 53033003500: 81563,
 53033003600: 65172,
 53033003800: 96310,
 53033003900: 110458,
 53033004000: 75714,
 53033004100: 132917,
 53033004200: 110091,
 53033004301: 64797,
 53033004302: 18908,
 53033004400: 50500,
 53033004500: 88914,
 53033004600: 113906,
 53033004700: 72396,
 53033004800: 93155,
 53033004900: 71809,
 53033005000: 65625,
 53033005100: 99083,
 53033005200: 38487,
 53033005301: 12269,
 53033005400: 84728,
 53033005600: 157292,
 53033005700: 90951,
 53033005801: 66563,
 53033005802: 62639,
 53033005900: 87667,
 53033006000: 96538,
 53033006100: 76980,
 53033006200: 131429,
 53033006300: 132000,
 53033006400: 154868,
 53033006500: 98617,
 53033006600: 82154,
 53033006700: 88719,
 53033006800: 98750,
 53033006900: 100172,
 53033007000: 67572,
 53033007100: 74143,
 53033007200: 74559,
 53033007300: 76582,
 53033007401: 67834,
 53033007402: 41842,
 53033007500: 63419,
 53033007600: 68199,
 53033007700: 104632,
 53033007800: 137358,
 53033007900: 57786,
 53033008001: 88068,
 53033008002: 37466,
 53033008100: 75531,
 53033008200: 56318,
 53033008300: 49291,
 53033008400: 42339,
 53033008500: 29883,
 53033008600: 43375,
 53033008700: 56700,
 53033008800: 76524,
 53033008900: 79953,
 53033009000: 44571,
 53033009100: 29464,
 53033009200: 25625,
 53033009300: 70458,
 53033009400: 47737,
 53033009500: 81676,
 53033009600: 77808,
 53033009701: 82333,
 53033009702: 106319,
 53033009800: 71705,
 53033009900: 67277,
 53033010001: 51316,
 53033010002: 66458,
 53033010100: 59275,
 53033010200: 84324,
 53033010300: 57750,
 53033010401: 60682,
 53033010402: 79432,
 53033010500: 66794,
 53033010600: 90208,
 53033010701: 55504,
 53033010702: 48036,
 53033010800: 74107,
 53033010900: 42159,
 53033011001: 29286,
 53033011002: 47604,
 53033011101: 52412,
 53033011102: 61901,
 53033011200: 35425,
 53033011300: 47363,
 53033011401: 54622,
 53033011402: 47701,
 53033011500: 75123,
 53033011600: 102500,
 53033011700: 60917,
 53033011800: 38846,
 53033011900: 71524,
 53033012000: 83421,
 53033012100: 110060,
 53033020100: 93235,
 53033020200: 72028,
 53033020300: 58182,
 53033020401: 61330,
 53033020402: 71758,
 53033020500: 66786,
 53033020600: 72500,
 53033020700: 56141,
 53033020800: 82344,
 53033020900: 63819,
 53033021000: 74048,
 53033021100: 70137,
 53033021300: 67438,
 53033021400: 99861,
 53033021500: 108750,
 53033021600: 96066,
 53033021700: 73456,
 53033021802: 87922,
 53033021803: 74856,
 53033021804: 72422,
 53033021903: 71417,
 53033021904: 89615,
 53033021905: 92614,
 53033021906: 81250,
 53033022001: 70591,
 53033022003: 75662,
 53033022005: 90900,
 53033022006: 81056,
 53033022101: 100168,
 53033022102: 96863,
 53033022201: 78409,
 53033022202: 82009,
 53033022203: 121759,
 53033022300: 113958,
 53033022400: 111754,
 53033022500: 100584,
 53033022603: 104382,
 53033022604: 94222,
 53033022605: 68636,
 53033022606: 104072,
 53033022701: 103292,
 53033022702: 123221,
 53033022703: 101250,
 53033022801: 88160,
 53033022802: 101184,
 53033022803: 96908,
 53033022901: 123000,
 53033022902: 120731,
 53033023000: 104013,
 53033023100: 92283,
 53033023201: 78119,
 53033023202: 46719,
 53033023300: 76500,
 53033023401: 71269,
 53033023403: 93387,
 53033023404: 146875,
 53033023500: 110568,
 53033023601: 78155,
 53033023603: 87236,
 53033023604: 72383,
 53033023700: 96268,
 53033023801: 97674,
 53033023803: 96975,
 53033023804: 89479,
 53033023900: 117308,
 53033024000: 107479,
 53033024100: 189231,
 53033024200: 175625,
 53033024300: 103178,
 53033024400: 69583,
 53033024500: 167361,
 53033024601: 175132,
 53033024602: 195156,
 53033024701: 83712,
 53033024702: 106941,
 53033024800: 68042,
 53033024901: 135625,
 53033024902: 102616,
 53033024903: 152458,
 53033025001: 110114,
 53033025003: 126089,
 53033025005: 103229,
 53033025006: 148750,
 53033025101: 81676,
 53033025102: 104469,
 53033025200: 75109,
 53033025301: 77278,
 53033025302: 34471,
 53033025400: 47773,
 53033025500: 57246,
 53033025601: 60833,
 53033025602: 105446,
 53033025701: 47219,
 53033025702: 85758,
 53033025803: 50750,
 53033025804: 71225,
 53033025805: 58309,
 53033025806: 77821,
 53033026001: 73750,
 53033026002: 51154,
 53033026100: 46826,
 53033026200: 46535,
 53033026300: 55110,
 53033026400: 43487,
 53033026500: 29107,
 53033026600: 63799,
 53033026700: 65660,
 53033026801: 36505,
 53033026802: 41875,
 53033027000: 59417,
 53033027100: 46250,
 53033027200: 50083,
 53033027300: 49023,
 53033027400: 60536,
 53033027500: 56406,
 53033027600: 51944,
 53033027701: 64007,
 53033027702: 81757,
 53033027800: 89185,
 53033027900: 52425,
 53033028000: 44127,
 53033028100: 45845,
 53033028200: 41386,
 53033028300: 78915,
 53033028402: 39756,
 53033028403: 31356,
 53033028500: 47560,
 53033028600: 88574,
 53033028700: 73841,
 53033028801: 60948,
 53033028802: 40590,
 53033028901: 67500,
 53033028902: 41000,
 53033029001: 58641,
 53033029003: 55747,
 53033029004: 31783,
 53033029101: 74228,
 53033029102: 65174,
 53033029203: 33704,
 53033029204: 59591,
 53033029205: 61304,
 53033029206: 29623,
 53033029303: 67727,
 53033029304: 92829,
 53033029305: 76755,
 53033029306: 71029,
 53033029307: 94375,
 53033029403: 70114,
 53033029405: 83750,
 53033029406: 89792,
 53033029407: 46627,
 53033029408: 41651,
 53033029502: 76295,
 53033029503: 33092,
 53033029504: 45329,
 53033029601: 72635,
 53033029602: 96964,
 53033029700: 40513,
 53033029801: 62788,
 53033029802: 74350,
 53033029901: 68609,
 53033029902: 84816,
 53033030003: 61250,
 53033030004: 42439,
 53033030005: 48942,
 53033030006: 27635,
 53033030100: 81458,
 53033030201: 51837,
 53033030202: 50226,
 53033030304: 86198,
 53033030305: 71311,
 53033030306: 94677,
 53033030308: 57565,
 53033030309: 61973,
 53033030310: 62237,
 53033030311: 71659,
 53033030312: 54413,
 53033030313: 40208,
 53033030314: 44918,
 53033030401: 73497,
 53033030403: 73917,
 53033030404: 68616,
 53033030501: 22775,
 53033030503: 42900,
 53033030504: 50396,
 53033030600: 53188,
 53033030700: 41492,
 53033030801: 34351,
 53033030802: 52317,
 53033030901: 60893,
 53033030902: 54315,
 53033031000: 104500,
 53033031100: 51058,
 53033031202: 76932,
 53033031204: 89375,
 53033031205: 71083,
 53033031206: 65809,
 53033031301: 74632,
 53033031302: 48385,
 53033031400: 55398,
 53033031501: 83667,
 53033031502: 74306,
 53033031601: 99730,
 53033031603: 82067,
 53033031604: 102202,
 53033031605: 91071,
 53033031703: 84408,
 53033031704: 82277,
 53033031705: 107311,
 53033031706: 74239,
 53033031800: 106875,
 53033031903: 87014,
 53033031904: 84088,
 53033031906: 107299,
 53033031907: 99038,
 53033031908: 61827,
 53033031909: 108265,
 53033032002: 91063,
 53033032003: 83750,
 53033032005: 87350,
 53033032006: 85323,
 53033032007: 90703,
 53033032008: 88375,
 53033032010: 96857,
 53033032011: 106957,
 53033032102: 98750,
 53033032103: 64474,
 53033032104: 82456,
 53033032203: 125636,
 53033032207: 142470,
 53033032208: 77226,
 53033032210: 116732,
 53033032211: 117250,
 53033032212: 126146,
 53033032213: 143585,
 53033032214: 156481,
 53033032215: 190900,
 53033032307: 121402,
 53033032309: 109469,
 53033032311: 149087,
 53033032313: 96573,
 53033032315: 131992,
 53033032316: 164599,
 53033032317: 138854,
 53033032318: 153098,
 53033032319: 68370,
 53033032320: 149519,
 53033032321: 199542,
 53033032322: 147750,
 53033032323: 119773,
 53033032324: 86600,
 53033032325: 107727,
 53033032326: 138917,
 53033032327: 101563,
 53033032328: 112917,
 53033032329: 136616,
 53033032401: 92500,
 53033032402: 106824,
 53033032500: 95309,
 53033032601: 84583,
 53033032602: 132072,
 53033032702: 100309,
 53033032703: 77483,
 53033032704: 70471,
 53033032800: 86121}

In [17]:
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_living15,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score,GEOID
0,0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,...,1340,5650,"6101 S Cooper St, Seattle, WA 98118, USA",Rainier Beach,NaN,NaN,NaN,NaN,NaN,53033011900
1,1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,...,1690,7639,"860 NE 127th St, Seattle, WA 98125, USA",North Seattle,NaN,NaN,NaN,NaN,NaN,53033000200
2,2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,...,2720,8062,"15098 81st Ave NE, Kenmore, WA 98028, USA",Kenmore,NaN,NaN,NaN,NaN,NaN,53033022102
3,3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,...,1360,5000,"9247 Fauntleroy Way SW, Seattle, WA 98136, USA",Fauntleroy,NaN,NaN,NaN,NaN,NaN,53033011600
4,4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,...,1800,7503,"757 222nd Pl NE, Sammamish, WA 98074, USA",Sammamish,NaN,NaN,NaN,NaN,NaN,53033032317

In [19]:
df['income'] = df['GEOID'].map(income_tracts)

In [21]:
income_tracts[53033022102]

96863